body {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    color: #222222;
    font-family: 'Avenir Next', sans-serif;

}

header, footer {
	background-color: #ACD2E5;
    width: 100%;
    text-align: center;
    font-family: 'rozha one', serif;
    margin: 0 -9999rem;
    padding: 0rem 9999rem;
}

footer {
    height: 70px;
    padding-top: 15px;
    display: inline-block;
}

.banner {
    position: relative;
    text-align: center;
  }

#site-name {
    font-size: 5.25em;
    color: #222222;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

#logo {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
}

nav{
    background-color:#FFBCCF;
    padding:12px;
    color: #222222;
    font-family: 'avenir next', sans-serif;
    font-size: 1.25em;
    margin-top: -30px;
}

nav ul li {
    display: inline-block;
  }

nav ul{
    list-style-type: none;
    text-decoration: none;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

a:link, a:visited {
    color: #222222;
}

a:active {
    color: #1D62A3;
}

a:hover {
    font-size: 1.4em;
}

nav ul li{
    padding:10px;
    text-align: center;
}

.navigation {
	list-style: none;
    padding: 0;
    height: 20px;
}

main {
    max-width:820px;
    margin:0 auto;
}

#intro {
    padding: 15px;
    border: 2px solid #FFBCCF;
    margin-bottom: 15px;
}

#maintemples {
    max-width:920px;
    margin:0 auto;
}

.column {
    float: left;
    width: 32%;
    padding: 5px;
  }
  
.templecolumn {
    float: left;
    width: 46%;
    padding: 7px;
    border: 2px solid #FFBCCF;
    margin: 5px;
    height: 1320px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

#contact {
    display: flex;
    flex-direction: row;
    padding: 15px;
    border: 2px solid #FFBCCF;
    margin-bottom: 15px;
}

#reservenow {
    background-color: #ACD2E5;
    padding: 15px;
    margin-bottom: 15px;
}


fieldset {
    width: 60%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: solid #1E1E1E 1px;
    border-radius: 10px;
}

form {
    margin-bottom: 15px;
}

#submit{
    font-size: 1.5em;
    background-color: #FFBCCF;
    padding: 10px;
    border-radius: 8px;
    width: 15em;
    font-family: 'Rozha One', serif;
}

input, textarea{
    font-size: 1em;
    margin: 5px;
    width: 17em;
    height:2em;
    border-radius: 5px;
    border: solid #1E1E1E 1px;
}

.legends {
    font-family: 'Rozha One', serif;
    font-size: 2em;
    color: #FFBCCF;
    text-shadow: #1E1E1E 1px 1px 1px;

}

#comments {
    height: 10em;
}

#thanks {
    font-size: 1.5em;
    text-align: center;
}

#contactdetails {
    background-color: #ACD2E5;
    padding: 15px;
    margin-bottom: 15px;
    width: 60%;
}

#serviceslist {
    border: solid 2px #FFBCCF;
    padding: 10px;
    padding-left: 30px;
}

  #receptions, #missionary {
    display: flex;
    flex-direction: row;
    padding: 15px;
    border: 2px solid #FFBCCF;
    margin-bottom: 15px;
  }

  #receptioninfo {
    padding-right: 15px;
    padding-left: 10px;
  }

  .servicelinks, #sources {
    text-decoration: underline #222222;
  }


  #highlight {
    display: flex;
    flex-direction: row;
    padding: 15px;
    border: 2px solid #FFBCCF;
    margin-bottom: 15px;
}

#lisboninfo {
    padding-right: 15px;
    padding-left: 10px;
    text-align: right;
}

  #lisbon {
      width: 400px;
      height: 340px;
  }

  #serviceslist li {
      line-height: 2.25em;
  }

 #sources {
     margin-bottom: 30px;
 }